<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<form action="../helper/valida_compra.php" method="POST">
    Comprador <input type="text" name="comprador"><br>
    Produto
    <select id="produto">
        <option value="vga">VGA</option>
        <option value="processador">Processador</option>
        <option value="cooler">Cooler</option>
        <option value="ram">RAM</option>
        <option value="hd">HD</option>
    </select>
    </br><input type="submit" value="Comprar" name="submit">
</form>
</body>
</html>